@use '@/shared/styles/mixins.scss' as mixins;

.section {
  margin-top: 38px;
  margin-bottom: 64px;
}

.content {
  margin-left: 100px;
  margin-top: -30px;

  @include mixins.on-tablet {
    margin-left: 60px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 64px;

  @include mixins.on-tablet {
    flex-direction: column-reverse;
  }
}

.left {
  max-width: 620px;

  @include mixins.on-tablet {
    max-width: 100%;
  }
}
.img {
  width: 100%;
  max-height: 498px;
  margin-bottom: 64px;
  border-radius: 25px;
}

.title {
  width: 90%;
}
.right {
  width: 510px;
  height: 704px;
  border: 1px solid gray;

  @include mixins.on-tablet {
    width: 100%;
  }
}

.bottom {
  font-size: 20px;

  p {
    font-size: 24px;
    line-height: 1.1em;
    color: var(--text-color-black);
    margin-block: 20px;
  }
  ul {
    list-style: disc;
  }

  li {

    font-size: 24px;
    line-height: 1.1em;
    margin-left: 35px;
    margin-block: 20px;
  }
}
